* {
    outline: 1px solid red;
    margin: 0px;
    font-family: sans-serif;
}

body {
    margin: 2%;
}

.navbar {
    overflow: hidden;
    width: 96%;
    height: 5vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.left-navbar, .right-navbar {
    display: flex;
}

.left-navbar-button {
    width: 70px;
    margin-left: 5%;
}

.right-navbar-signup, .right-navbar-login {
    width: 100px;
    margin-left: 5%;
}

.logo {
    background-color: grey;
    width: 50px;
    height: 100%;
}

.about-1, .about-2 {
    background: white;
    height: 100vh;
    width: 100%;
    display: flex;
}

.about-2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-3 {
    background: white;
    height: 50vh;
    width: 100%;
    display: flex;
}

.about-3-left, .about-3-right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.about-3-right {
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
    height: 100%;
}

th {
    text-align: left;
}

.about-1-left, .about-1-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
}

.about-1-left, .about-1-right {
    align-items: center;
}

.about-2-header {
    position: relative;
    /* margin-bottom: 30%; */
}

.about-2-header > p {
    margin-bottom: 15px;
}

.image1 {
    width: 50%;
    height: 50%;
    background-color: grey;
}

.image2 {
    width: 50%;
    height: 50%;
    background-color: grey;
}

.about-2-header {
    text-align: center;
}

.about-2-content {
    text-align: center;
    width: 70%;
    display: flex;
    flex-direction: column;
}