* {
    outline: 1px solid red;
    margin: 0px;
    font-family: sans-serif;
}

body {
    margin: 2%;
}

.navbar {
    overflow: hidden;
    width: 96%;
    height: 5vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.left-navbar, .right-navbar {
    display: flex;
}

.left-navbar-button {
    width: 70px;
    margin-left: 5%;
}

.right-navbar-signup, .right-navbar-login {
    width: 100px;
    margin-left: 5%;
}

.logo {
    background-color: grey;
    width: 50px;
    height: 100%;
}

.contact {
    background: white;
    height: 100vh;
    width: 100%;
    display: flex;
}

.contact-1-left, .contact-1-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
}

.contact-1-left{
    align-items: center;
}

.image1 {
    width: 70%;
    height: 80%;
    background-color: grey;
}

.input {
    width: 50%;
}

form {
    display: flex;
}