* {
    outline: 1px solid red;
    margin: 0px;
    font-family: sans-serif;
}

body {
    margin: 2%;
}

.navbar {
    overflow: hidden;
    width: 96%;
    height: 5vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.left-navbar, .right-navbar {
    display: flex;
}

.left-navbar-button {
    width: 70px;
    margin-left: 5%;
}

.right-navbar-signup, .right-navbar-login {
    width: 100px;
    margin-left: 5%;
}

.logo {
    background-color: grey;
    width: 50px;
    height: 100%;
}

.home-1, .home-2, .home-3, .home-4 {
    background: white;
    height: 100vh;
    width: 100%;
    display: flex;
}

.home-3, .home-4 {
    align-items: center;
    justify-content: center;
}

.home-4 {
    flex-direction: row-reverse;
}

/* .home-1 {
    display: none;

} */

.home-1-left, .home-1-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
}

.home-1-right {
    align-items: center;
}

.image1 {
    width: 50%;
    height: 80%;
    background-color: grey;
}

.home-2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-2-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #FE6B00;
    
}

.home-2-content {
    height: 50%;
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.home-2-box {
    width: 230px;
    border: 2px solid #FE6B00;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    text-align: center;
}

.home-2-box > span > h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #FE6B00;
}


.home-2-image {
    background: grey;
    width: 80px;
    height: 80px;
}

.home-3-left{
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

.home-3-right {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.home-3-right > span > p {
    margin-bottom: 10px;
}

.home-4-right > span > p {
    margin-bottom: 10px;
}

.image2 {
    width: 70%;
    height: 70%;
    background: grey;
}

.home-4-left{
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

.home-4-right {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    text-align: right;
}

span

.image3 {
    width: 70%;
    height: 70%;
    background: grey;
}

.home-1-button {
    width: 40%;
    padding: 5px 2px;
    text-align: start;
}

.home-1-left > p {
    margin-bottom: 10px;
}

.footer{
    background: white;
    height: 50vh;
    width: 100%;
    display: flex;
}

.footer-left {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image4 {
    height: 100%;
    width: 100%;
}

.footer-right {
    width: 70%;
    height: 100%;
    display: flex;
}

table {
    height: 100%;
    width: 100%;
}

th {
    text-align: left;
}


/* .home-1, .home-2 {
    display: none;
} */



