@font-face {
    font-family: opensans;
    src: url(Font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: opensans-bold;
    src: url(Font/OpenSans-Bold.ttf);
}

* {
    font-family: opensans;
    outline: 1px solid red;
    margin: 0px;
    padding: 0px;
}

/* === NAVBAR === */

.navbar {
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.logo {
    width: 50px;
    height: 50px;
    background: grey;
}

.navbar-left {
    width: 50%;
    display: flex
}

.navbar-right {
    display: flex;
    align-items: center;
}

.sign-up, .log-in {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 30px;
    font-size: 12px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
}

.log-in {
    font-family: opensans-bold;
}

.navbar-left > a {
    font-size: 12px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    width: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.home {
    font-family: opensans-bold;
}

/* === HOME 1 === */

.home1 {
    padding-top: 2%;
    width: 100%;
    height: 100vh;
    display: flex;
}

.home1-left, .home1-right {
    width: 50%;
    height: 100%;
    padding: 0px 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.home1-right {
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding: 6%;
    box-sizing: border-box;
}

.home1-left > p {
    margin-bottom: 3%;
}

.home1-left > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    text-decoration: none;
    font-family: opensans-bold;
    background: grey;
    width: 250px;
    font-size: 12px;
    height: 30px;
    color: white;
}

.next {
    height: 20px;
    width: 20px;
    background: white;
}

.image1 {
    width: 400px;
    height: 90%;
    background: grey;
}

.image1-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 350px;
    margin-left: 30px;
    font-size: 15px;

}

.image1-button > a {
    font-family: opensans-bold;
    text-decoration: none;
    color: black;
}

/* === HOME 2 === */

.home2 {
    padding: 5%;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home2-content {
    margin-top: 5%;
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.box > span {
    font-family: opensans-bold;
    text-transform: uppercase;
    font-size: 1.2vw;
}

.box > p {
    font-size: 0.8vw;
}

.box {
    height: 100%;
    width: 280px;
    border: 3px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2%;
    box-sizing: border-box;
}

.box-image {
    width: 100px;
    height: 100px;
    background-color: grey;
}

 /* === HOME 3 === */

.home3 {
    padding: 2%;
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.image3 {
    width: 25%;
    height: 100%;
    background-color: grey;
    margin-right: 30px;
}

.home3-content > span {
    display: block;
}

.home3-content {
    display: flex;
    flex-direction: column;
    width: 40%;

}

 /* === HOME 4 === */

 .home4 {
    padding: 2%;
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.image4 {
    width: 25%;
    height: 100%;
    background-color: grey;
    margin-left: 30px;
}

.home4-content > span {
    display: block;
}

.home4-content {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;

}

/* === home5 === */

.home5 {
    color: white;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home5-box {
    width: 70%;
    height: 65%;
    display: flex;
    align-items: center;
    padding: 2%;
    box-sizing: border-box;
    background-color: grey;
}

.image6 {
    width: 50%;
    height: 90%;
    background-color: white;
}

.home3-btn > button{
    text-decoration: none;
    background-color: white;
    color: black;
    width: 40%;
    height: 30px;
    border: transparent;
    margin-right: 20px;
}

/* === FOOTER === */

.home-footer {
    height: 30vh;
    display: flex;
    justify-content: space-between;
}

.footer-right {
    width: 80%;
    height: 100%;
    display: flex;
}

table {
    height: 100%;
    width: 50%;
}

th {
    text-align: left;
    font-size: 0.8vw;
}

.footer-left {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: center;

}

.footer-left > p {
    margin-top: 10px;
}

.footer-logo {
    height: 90px;
    width: 90px;
    background-color: grey;
}

/* === WHITE SPACE === */

.white-space {
    height: 10vh;
}

/* .home-1, .home-2 {
    display: none;
} */




