* {
    outline: 1px solid red;
    margin: 0px;
    font-family: sans-serif;
}

.login{
    background: white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.card {
    /* background-color: gray; */
    width: 35%;
    height: 90%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5%;
    align-items: center;
    border-radius: 2%;
}

.card-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h2 {
    position: absolute;
    top: 5%;
}

form{
    height: 25%;
    width: 85%;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 20%;
}

.input {
    height: 40px;
    margin-top: 5%;
    width: 90%;
}

a{
    text-decoration: none;
    color: #FE6B00;
}

button {
    width: 85%;
    height: 50px;
    margin-bottom: 5%;
}

.card-middle-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card-header {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-Around;
    align-items: center;
    background-color: grey;
}

.go-back {
    width: 20px;
    height: 20px;
}