@font-face {
    font-family: opensans;
    src: url(Font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: opensans-bold;
    src: url(Font/OpenSans-Bold.ttf);
}

* {
    font-family: opensans;
    /* outline: 1px solid red; */
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* === NAVBAR === */

.navbar {
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo {
    width: 50px;
    height: 50px;
    background: grey;
}

.navbar-left {
    width: 50%;
    display: flex
}

.navbar-left > a {
    font-size: 12px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    width: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.user {
    font-family: opensans-bold;
    height: 40px;
    width: 40px;
    background-color: grey;
    border-radius: 100%;
}

.mabar {
    font-family: opensans-bold;
}

/* === BANNER === */

.sparring-header {
    height: 35vh;
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.banner {
    color: white;
    height: 60%;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: opensans-bold;
    font-size: 25px;
}

/* === SEARCH === */

.input-box {
    display: flex;
    align-items: center;
    width: 26%;
}

.icon-box {
    width: 25px;
    height: 25px;
    background-color: grey;
    margin-left: 1%;
    position: absolute;
}

.sparring-search {
    padding-top: 3%;
    width: 92%;
    display: flex;
    justify-content: space-between;
}

.search {
    text-transform: uppercase;
    color: white;
    width: 220px;
    background: grey;
    font-size: 15px;
}

input, option {
    width: 100%;
    height: 45px;
    padding-left: 50px;
}

select {
    width: 100%;
    height: 50px;
    padding-left: 50px;
}

option {
    height: 500px;
}

/* === CONTAINER === */

.box-wrapper {
    margin-top: 2%;
    width: 92%;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(1, 300px);
    gap: 15px;

}

.box {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 35vh;

}

.box-outer {
    border: transparent;
    background-color: white;
}

.box-top, .box-bottom {
    height: 50%;
    padding: 2% 4%;
    box-sizing: border-box;
} 

.box-top {
    display: flex;
    align-items: center;
    text-align: left;
}

.box-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.box-logo {
    height: 80px;
    width: 80px;
    background-color: grey;
    border-radius: 100%;
}

.line {
    display: flex;
    align-items: center;
    font-size: 0.8vw;
}

.access, .age {
    text-align: center;
    display: inline-block;
    border: 2px solid black;
    width: 80px;
    font-family: opensans-bold;
}

.bottom-icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: grey;
    margin-right: 10px;
}

/* === WHITE SPACE === */

.white-space {
    height: 30vh;
}